{% extends 'base.html' %}
{% block content %}
    {% include 'includes/header.html' %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {% for a in automoviles %}
          <div class="carousel-item active">
            <img src="{{a.imagen.url}}" class="d-block w-100">
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="card text-center">
        <div class="card-header">
          Automóviles Tangram
        </div>
        <div class="card-body">
          <h5 class="card-title">Ejercicio de Django</h5>
          <p class="card-text">Ejercicio de encargo para el repaso del conocimiento adquirido con el curso de Django y 
            Django rest-framework
          </p>
        </div>
        <div class="card-footer text-muted">
          José Migueles Sánchez
        </div>
      </div>
{% endblock content%}