{% extends 'base.html' %}
{% load static %}

<!-- Bloque de título -->
{% block title %}Eliminar registro{% endblock title %}

<!-- Bloque de contenido -->
{% block content %}
    <!-- INclusión de la cabecera -->
    {% include 'includes/header.html' %}
    
    <!-- Formulario de registro de la marca-->
    <div class="container text-center" style="margin-top:1vw;">
        <div class="row justify-content-md-center">
            <div class="col col-lg-10">
                <div class="card" >
                    <h5 class="card-header">{{object}}</h5>
                    <h5>¿Desea eliminar el registro?</h5>
                    <form method="post" style="padding:0.5vw;">{% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}