{% extends 'base.html' %}
{% load static %}

<!-- Bloque de título -->
{% block title %}Listado de modelos {% endblock title %}

<!-- Bloque de estilos -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/titulos.css' %}">
{% endblock css %}

<!-- Bloque de contenido -->
{% block content %}

    <!-- Inclusión de la cabecera -->
    {% include 'includes/header.html' %}

    <h1>Lista de modelos</h1>

    <!-- Lista de modelos -->
    {% if not modelos %}
    <div class="card text-center">
        <div class="card-header">
          Automóviles tangram
        </div>
        <div class="card-body">
          <p class="card-text">No existen modelos registrados registrados</p>
          <a href="{% url 'automoviles_app:automoviles-registrar-modelo'%}" class="btn btn-primary">Registrar modelo</a>
        </div>
        <div class="card-footer text-muted">
            Automóviles Tangram
        </div>
    </div>
    {% else %}
    <div class="container text-center" style="margin-top:2vw">
        <div class="row">
            <table class="table table-striped col">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Acciones</th>
                    </tr>
                    {% for m in modelos %}
                    <tr>
                        <td>{{m.marca.nombre}}</td>
                        <td>{{m.nombre}}</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="{%url 'automoviles_app:automoviles-actualizar-modelo' m.id %}">Actualizar</a>
                            <a type="button" class="btn btn-primary" href="{%url 'automoviles_app:automoviles-eliminar-modelo' m.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
    {% endif %} 

    {% if is_paginated %}
    <div class="container text-center" >
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            
            {% for page in paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
{% endblock content %}