{% extends 'base.html' %}
{% load static %}

<!-- Bloque de título -->
{% block title %}Listado de marcas{% endblock title %}

<!-- Bloque de estilos -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/titulos.css' %}">
{% endblock css %}

<!-- Bloque de contenido -->
{% block content %}

    <!-- Inclusión de la cabecera -->
    {% include 'includes/header.html' %}
    
    <h1>Listado de marcas</h1>

    <!-- Listado de marcas -->
    {% if not marcas %}
    <div class="card text-center">
        <div class="card-header">
          Automóviles tangram
        </div>
        <div class="card-body">
          <p class="card-text">No existen marcas registradas</p>
          <a href="{% url 'automoviles_app:automoviles-registrar-marca'%}" class="btn btn-primary">Registrar marca</a>
        </div>
        <div class="card-footer text-muted">
            Automóviles Tangram
        </div>
    </div>
    {% else %}
    <div class="container text-center" style="margin-top: 2vw">
        <div class="row row-cols-4">
            {% for m in marcas %}
            <div class="col" style="margin-top:0.5vw">
                <div class="card" style="width: 15vw;">
                    {% if m.logo %}
                    <img src="{{m.logo.url}}" class="card-img-top" alt="logo de {{m.nombre}}">
                    {% else %}
                    <img src="{%static 'imgs/default.jpg' %}" class="card-img-top" alt="logo de {{m.nombre}}">
                    {% endif %}
                    <span>{{ m.nombre }}</span>
                    <div class="card-body">
                      <a href="{% url 'automoviles_app:automoviles-actualizar-marca' m.id %}" class="btn btn-primary">Editar</a>
                      <a href="{% url 'automoviles_app:automoviles-eliminar-marca' m.id %}" class="btn btn-primary">Eliminar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock content %}