{% extends 'base.html' %}
{% load static %}

<!-- Bloque de título  -->
{% block title %} Listado de automóviles {% endblock title %}

<!-- Bloque de estilos -->
{% block css %}
    <link rel="stylesheet" href="{% static 'css/titulos.css' %}">
{% endblock css %}

<!-- Bloque de contenido -->
{% block content %}

    <!-- Inclusión de la cabecera -->
    {% include 'includes/header.html' %}

    <h1>Listado de automóviles</h1>

    <!-- Formulario de búsqueda -->
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <form method='get' enctype='multipart/form-data'>{% csrf_token %}
                    <div class="row mb-3">
                      <label for="id_nombre" class="col-sm-2 col-form-label">Coche</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="text" name="marca" id="marca" placeholder="Buscar coche" aria-label="default input example">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Listado de vehículos -->
    {% if not automoviles %}
    <div class="card text-center" style="margin-top:1vw;">
        <div class="card-header">
          No existe el vehículo que busca
        </div>
    </div>
    {% else %}
    <div class="container text-center" style="margin-top:5vw">
        <div class="row">
            <table class="table table-striped col">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Fecha de creación</th>
                        <th>Acciones</th>
                    </tr>
                    {% for a in automoviles %}
                    <tr>
                        <td>{{a.marca.nombre}}</td>
                        <td>{{a.modelo.nombre}}</td>
                        <td>{{a.fecha_creacion}}</td>
                        <td>
                            <a type="button" class="btn btn-primary" href="{%url 'automoviles_app:automoviles-actualizar' a.id %}">Actualizar</a>
                            <a type="button" class="btn btn-primary" href="{%url 'automoviles_app:automoviles-eliminar' a.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>
    {% endif %}
    
    {% if is_paginated %}
    <div class="container text-center" >
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"               >
                <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            
            {% for page in paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
    


{% endblock content%}
