<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'automoviles_app:automoviles-home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Coches
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'automoviles_app:automoviles-lista' %}">Lista</a></li>
              <li><a class="dropdown-item" href="{% url 'automoviles_app:automoviles-formulario' %}">Búsqueda</a></li>
              <li><a class="dropdown-item" href="{% url 'automoviles_app:automoviles-registrar' %}">Registrar coche</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marcas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'automoviles_app:automoviles-marca-lista' %}">Lista</a></li>
              <li><a class="dropdown-item" href="{% url 'automoviles_app:automoviles-registrar-marca' %}">Registrar marca</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Modelos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'automoviles_app:automoviles-modelo-lista' %}">Lista</a></li>
              <li><a class="dropdown-item" href="{% url 'automoviles_app:automoviles-registrar-modelo' %}">Registrar modelo</a></li>
            </ul>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>